body {
    margin:0;
}

.gameCanvas {
    border: 1px solid #000;
}

.modeButtons {
    font-size:0;
    margin-left:10px;
}

.controlPanel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
}

.innerControlPanel {
    display: flex;
    padding: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #000000a0;
}

.waitingMessage{
    align-items: center;
    display: flex;
    color:white;
}

.playingControls {
    display:flex;
}

.zoomButton {
    width:40px !important;
}

.modeButtons button {
    border: 1px solid #000;
    background-color: #FF1A13;
    color:black;
    font-size:14px;
    width: 50px;
    height: 40px;
    border-right:0;
}

.modeButtons button.active{
    background-color:#B3231E;
    color:white;
}

.commandButton {
    margin-left:10px;
    border: 1px solid #000;
    background-color:#FF1A13;
    font-size:14px;
    width:100px;
    height:40px;
    border-radius:20px;
}

.undoButton {
    width:40px;
}

.finishButton {
    width:40px;
}

.fas {
    font-size:16px;
}

.commandButton.dropdown-toggle{
    color:black;
}

.commandButton.dropdown-toggle:hover{
    background-color: #FF1A13;;
    border: 1px solid black;
    color:black;
}

.commandButton.dropdown-toggle:active{
    background-color: #FF1A13;;
    border: 1px solid black;
    color:black;
}

.modeButtons button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.modeButtons button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right:1px solid #000;
}



/* Chat shenanigans */
.chatWindow {
    width:300px;
    height:100vh;
    position:absolute;
    right:0;
    bottom:0;
    border:1px solid #333;
    border-left:none;

}

.chatInput {
    position:absolute;
    right:0;
    bottom:0;
    width:298px
}

.chatWindowRow {
    padding:3px;
}

.chatWindowRow:nth-child(even) {
    background-color: #eee;
}

.chatMessageSender {
    font-weight:600;
    display:flex;
}

.chatMessageContainer {
    overflow-y: scroll;
    height: 100%;
    height: calc(100% - (1.5em + .75rem + 43px));
}

.chatMessageColorBox {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 3px;
}

/* Player List */
.activePlayer .chatMessageSender:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    margin-right:5px;
}

.isOp .chatMessageSender:after {
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    content:"\f505";
    margin-left:5px;
}

.keyContainer{
    width:100px;
    padding:7px;
}